Answering the Question by reading the csv files of Player and Team.

In [ ]:
Player_Data <- read.csv(file="Player.csv", header=TRUE)

In [33]:
Player_Data

      player_api_id Player                   Overall_rating GoalKeeper_Rating
1     2625          Patryk Rachwal,18        63             153
2     2752          Diego Mainz              72              53
3     2768          Jose Dorado              75             131
4     2770          Ignacio Gonzalez         74             158
5     2790          Alberto Rey              73             144
6     2796          Javier Jimenez           69             344
7     2802          Pablo Hernandez          82             151
8     2805          Ruben Perez              76             146
9     2857          Ivan Perez               72             150
10    2862          Vicente Sanchez          76             148
11    2907          Gregory Lacombe          68             138
12    2973          Ugur Inceman             72             147
13    2977          David Rivas Rodriguez    82             104
14    2983          Jorge Molina             75             139
15    2984          Sergio Aragones          75             365
16    3140          Alexandre Hauw           69             143
17    3204          Marat Izmailov           81             158
18    3263          Kelly Berville           67             115
19    3264          Abdelmalek Cherrad       62             100
20    3316          Oscar Sanchez            71             108
21    3329          Vincent Euvrard          64             130
22    3377          Luca Belingheri          72             138
23    3441          Aleksander Radosavljevic 71             140
24    3512          Peter Halmosi            75             143
25    3517          Alexandr Kerzhakov       82             149
26    3520          Andrey Arshavin          86             163
27    4747          Lee Wilkie               73             128
28    4863          Boban Grncarov           66              54
29    4902          Iriney                   77             146
30    4939          Tim Clancy               64             117
⋮     ⋮             ⋮                        ⋮              ⋮
10819 701154        Kylian Mbappe Lottin     65             42
10820 703659        Colin Trachsel           51             48
10821 704523        Christopher Nkunku       62             43
10822 705484        Eray Cumart              52             32
10823 706985        Jordan Lyden             58             53
10824 710807        Jonatan Montiel          67             47
10825 715642        Aissa Laidouni           59             61
10826 716998        Sebastien Lamonge        56             46
10827 717248        Felipe Augusto           64             59
10828 717270        Antoine Rabillard        61             56
10829 717557        Levi Garcia              64             49
10830 719413        Dorian Caddy             64             54
10831 720738        Charles Traore           55             52
10832 721133        Rafa Soares              70             60
10833 722766        Charly Musonda           71             36
10834 723037        Wanderson Lima           53             54
10835 725718        Dennis van der Heijden   60             54
10836 726956        Cedric Itten             54             41
10837 728125        Christopher McLaughlin   50             49
10838 728414        Justin Hoogma            59             54
10839 728478        Kamil Jozwiak            56             54
10840 730065        Jorge Intima             57             59
10841 733787        Linus Obexer             51             45
10842 742405        Tom Davies               51             56
10843 743720        Charles Pickel           50             53
10844 744907        Greg Taylor              53             57
10845 746419        Francisco Afonso         59             42
10846 748432        Fynn Arkenberg           58             46
10847 750435        Rees Greenwood           60             48
10848 750584        Alexandre Azevedo        58             54
      Appearances Number_of_League
1      90         1
2      81         1
3      71         1
4      16         2
5      50         1
6       1         1
7     144         2
8     131         1
9       3         1
10     17         1
11      6         1
12     16         1
13      5         1
14     71         1
15     38         1
16     42         1
17     42         1
18     19         1
19      1         1
20      6         1
21     85         1
22      1         1
23     74         1
24      4         1
25     17         1
26     70         1
27     36         1
28     25         1
29     68         1
30     97         1
⋮     ⋮           ⋮
10819  2          1
10820  1          1
10821  4          1
10822  4          1
10823  2          1
10824  1          1
10825  1          1
10826  1          1
10827  4          1
10828  1          1
10829  4          1
10830  3          1
10831  5          1
10832 15          1
10833 13          1
10834  7          1
10835  1          1
10836  4          1
10837  2          1
10838  1          1
10839  1          1
10840  1          1
10841  2          1
10842  1          1
10843  1          1
10844  1          1
10845  2          1
10846  2          1
10847  1          1
10848  1          1

Question 1 : Which are the top 10 players by overall rating?

In [34]:
Answer_1<-head(Player_Data[order(Player_Data$Overall_rating,decreasing = TRUE),],10)
Answer_1

     player_api_id Player            Overall_rating GoalKeeper_Rating
2008 30981         Lionel Messi      94             147
1864 30717         Gianluigi Buffon  93             455
1909 30829         Wayne Rooney      93             160
1949 30893         Cristiano Ronaldo 93             145
3726 39854         Xavi Hernandez    92             175
3751 39989         Gregory Coupet    92             447
1806 30626         Thierry Henry     91             144
1807 30627         John Terry        91             144
1822 30657         Iker Casillas     91             446
1868 30723         Alessandro Nesta  91             138
     Appearances Number_of_League
2008 249         1
1864 231         1
1909 223         1
1949 259         2
3726 189         1
3751  37         2
1806  39         1
1807 243         1
1822 232         2
1868  64         1

Question 2 : Which are the top 10 goalkeepers by sum of gk attributes?

In [35]:
Answer_2<-head(Player_Data[order(Player_Data$GoalKeeper_Rating,decreasing = TRUE),],10)
Answer_2

     player_api_id Player            Overall_rating GoalKeeper_Rating
1864 30717         Gianluigi Buffon  93             455
1929 30859         Petr Cech         89             454
1478 27299         Manuel Neuer      90             449
3751 39989         Gregory Coupet    92             447
1822 30657         Iker Casillas     91             446
829  24503         Sebastian Frey    87             445
2013 30989         Julio Cesar       89             444
1871 30726         Edwin van der Sar 87             442
1824 30660         Pepe Reina        85             436
2211 32657         Victor Valdes     85             436
     Appearances Number_of_League
1864 231         1
1929 251         1
1478 255         1
3751  37         2
1822 232         2
829  156         1
2013 202         3
1871  87         1
1824 249         3
2211 203         3

Question 3 :Which are the top 10 players by number of appearances (with any team they played with)?

In [36]:
Answer_3<-head(Player_Data[order(Player_Data$Appearances,decreasing = TRUE),],10)
Answer_3

     player_api_id Player               Overall_rating GoalKeeper_Rating
2058 31293         Steve Mandanda       84             421
3983 41097         Stephane Ruffier     83             412
2448 33764         Gorka Iraizoz Moreno 81             411
4285 42422         Samir Handanovic     84             425
1221 26295         Hugo Lloris          86             433
2085 31465         Tim Howard           84             418
2078 31432         Joe Hart             85             418
1162 26168         Cedric Carrasso      83             413
1273 26399         Daniel Congre        77             145
5383 94550         Moussa Sissoko       80             150
     Appearances Number_of_League
2058 300         1
3983 294         1
2448 286         1
4285 286         1
1221 282         2
2085 282         1
2078 275         1
1162 268         1
1273 262         1
5383 260         2

Question 4 : Which are the top 10 players by number of leagues they played in?

In [44]:
Answer_4<-head(Player_Data[order(Player_Data$Number_of_League,decreasing = TRUE),],10)
Answer_4

     player_api_id Player                Overall_rating GoalKeeper_Rating
4232  42119        Gelson Fernandes      76             152
6022 116750        Ricky van Wolfswinkel 77             109
7220 178538        Filip Djuricic        77             139
479   22543        Radamel Falcao        90             151
726   24123        Jonathan De Guzman    78             144
1036  25816        Almen Abdi            74             146
1287  26434        Ibrahim Afellay       82             158
1318  26489        Edson Braafheid       75             139
1407  26675        Eljero Elia           80             145
1764  30477        Danijel Pranjic       78             154
     Appearances Number_of_League
4232 175         6
6022 151         5
7220 105         5
479  147         4
726  130         4
1036  68         4
1287  94         4
1318  89         4
1407 141         4
1764  63         4

In [63]:
Team_Data <- read.csv(file="Team.csv", header=TRUE)

In [64]:
head(Team_Data)

  team_api_id team_long_name        buildUpPlaySpeed buildUpPlayDribbling
1 1601        Ruch Chorzów          53               48
2 1773        Oud-Heverlee Leuven   52               51
3 1957        Jagiellonia Białystok 66               54
4 2033        S.C. Olhanense        65               62
5 2182        Lech Poznań           67               55
6 2183        P. Warszawa           34                0
  buildUpPlayPassing BuildUpPlay ChanceCreation Defense No_Of_Goals
1 55                 156         205            175     280
2 50                 153         157            137     126
3 69                 189         165            210     287
4 55                 182         178            155     138
5 57                 179         208            181     372
6 47                  81         210            177     184

Question 5 : Which are the top 10 teams by sum of build up play attributes?

In [65]:
temp_1<-head(Team_Data[order(Team_Data$BuildUpPlay,decreasing = TRUE),],10)
Answer_5<-data.frame(temp_1$team_api_id,temp_1$team_long_name,temp_1$BuildUpPlay,temp_1$ChanceCreation,temp_1$Defense,temp_1$No_Of_Goals)
colnames(Answer_5)=c("Team_API_ID","Team_Long_name","BuildUpPlay","ChanceCreation","Defense","No_Of_Goals") 
Answer_5

   Team_API_ID Team_Long_name     BuildUpPlay ChanceCreation Defense
1  8600        Udinese            212         217            165
2  8194        Fortuna Düsseldorf 210         193            180
3  8245        Korona Kielce      210         187            195
4  9804        Torino             209         206            146
5  8485        Aberdeen           204         212            200
6  8636        Inter              203         207            173
7  9904        Hannover 96        203         182            210
8  9831        OGC Nice           201         191            210
9  8639        LOSC Lille         200         212            184
10 9800        St. Mirren         198         210            200
   No_Of_Goals
1  415
2   39
3  237
4  241
5  365
6  496
7  359
8  342
9  450
10 257

Question 6 :Which are the top 10 teams by sum of chance creation attributes?

In [66]:
temp_2<-head(Team_Data[order(Team_Data$ChanceCreation,decreasing = TRUE),],10)
Answer_6<-data.frame(temp_2$team_api_id,temp_2$team_long_name,temp_2$BuildUpPlay,temp_2$ChanceCreation,temp_2$Defense,temp_2$No_Of_Goals)
colnames(Answer_6)=c("Team_API_ID","Team_Long_name","BuildUpPlay","ChanceCreation","Defense","No_Of_Goals") 
Answer_6

   Team_API_ID Team_Long_name         BuildUpPlay ChanceCreation Defense
1  8592        Olympique de Marseille 192         227            200
2  8686        Roma                   173         222            182
3  9885        Juventus               162         222            203
4  8543        Lazio                  192         220            195
5  8548        Rangers                173         219            200
6  8658        Birmingham City        188         218            210
7  9875        Napoli                 198         218            184
8  9906        Atlético Madrid        170         218            173
9  8178        Bayer 04 Leverkusen    158         217            212
10 8600        Udinese                212         217            165
   No_Of_Goals
1  462
2  530
3  543
4  417
5  324
6   75
7  514
8  524
9  483
10 415

Question 7: Which are the top 10 teams by sum of defense attributes?

In [67]:
temp_3<-head(Team_Data[order(Team_Data$Defense,decreasing = TRUE),],10)
Answer_7<-data.frame(temp_3$team_api_id,temp_3$team_long_name,temp_3$BuildUpPlay,temp_3$ChanceCreation,temp_3$Defense,temp_3$No_Of_Goals)
colnames(Answer_7)=c("Team_API_ID","Team_Long_name","BuildUpPlay","ChanceCreation","Defense","No_Of_Goals") 
Answer_7

   Team_API_ID Team_Long_name        BuildUpPlay ChanceCreation Defense
1  8178        Bayer 04 Leverkusen   158         217            212
2  1957        Jagiellonia Białystok 189         165            210
3  7794        SC Bastia             180         162            210
4  8021        Zagłębie Lubin        164         203            210
5  8197        Leicester City        181         209            210
6  8344        Cardiff City          178         210            210
7  8350        1. FC Kaiserslautern  175         194            210
8  8466        Southampton           166         205            210
9  8481        AS Nancy-Lorraine     162         197            210
10 8483        Blackpool             186         205            210
   No_Of_Goals
1  483
2  287
3  165
4  207
5  114
6   32
7   72
8  216
9  203
10  55

Question 8: Which are the top 10 teams by number of scored goals?

In [68]:
temp_4<-head(Team_Data[order(Team_Data$No_Of_Goals,decreasing = TRUE),],10)
Answer_8<-data.frame(temp_4$team_api_id,temp_4$team_long_name,temp_4$BuildUpPlay,temp_4$ChanceCreation,temp_4$Defense,temp_4$No_Of_Goals)
colnames(Answer_8)=c("Team_API_ID","Team_Long_name","BuildUpPlay","ChanceCreation","Defense","No_Of_Goals") 
Answer_8

   Team_API_ID Team_Long_name    BuildUpPlay ChanceCreation Defense No_Of_Goals
1   8634       FC Barcelona      129         184            205     849
2   8633       Real Madrid CF    158         204            196     843
3   9925       Celtic            192         205            200     695
4   9823       FC Bayern Munich  140         207            196     653
5   8640       PSV               155         202            183     652
6   8593       Ajax              122         202            197     647
7   9931       FC Basel          170         186            180     619
8   8456       Manchester City   165         215            184     606
9   8455       Chelsea           182         210            172     583
10 10260       Manchester United 166         207            172     582